/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 body{
   font-family: 'Hiragino Maru Gothic Pro';
   background: lightyellow;
 }

 html {
   /* position: relative; */
   min-height: 100%;
 }

 header h1 {
   width: 60rem;
   font-size:6rem;
   font-weight:bold;
   position: relative;
   padding: 0.5em 1em;
   border-top: solid 2px black;
   border-bottom: solid 2px black;
   margin: auto;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   text-align: center;
 }
 header h1:before, header h1:after {
   content: '';
   position: absolute;
   top: -7px;
   width: 2px;
   height: -webkit-calc(100% + 14px);
   height: calc(100% + 14px);
   background-color: black;
 }
 header h1:before {left: 7px;}
 header h1:after {right: 7px;}

 .bottuns {
   text-align: center;
 }

 header nav {
   background-color: lightgray;
   height: 50px;
 }

 ul {
   list-style: none;
 }

 header ul {
   margin: 0 auto;
 }

 header ul a {
   display: block;
   padding: 15px;
   text-decoration: none;
 }

header li {
  float: left;
}

footer {
  /* width: 100%; */
  background-color:gray;
  padding: 20px 0 10px 0;
  color: white;
  text-align: center;
  /* margin: auto; */
  /* padding-bottom: 10px; */
  font-size: 12px;
  /* position: absolute;
  bottom: 0; */
}

.container {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 500px;
}

.show_content {
  margin: auto;
  max-width: 500px;
}

.show_content p {
  margin-top: 30px;
}

table {
  margin: 20px;
}

td {
  padding: 10px;
}

.margin {
  margin: 15px 0;
}
