// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav a {
   color: #000;

   &:visited {
     color: #666;
   }

   &:hover {
     color: #fff;
     background-color: #000;
   }
 }

.blog {
   background-color: white;
   margin: 20px;
   padding: 20px;
   border-radius: 5px;
   border: solid 1px lightgray;
 }

.image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  // object-fit: contain;
  // background-color: black;
}

.content {
  // margin-left: 50px;
  // float: left;
  font-size: 1.5rem;
  min-hight: 300px;
}

.under {
  border-bottom: solid 1px darkgray;
}

.show_bottuns {
  position: absolute;
  bottom: 0;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
