// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top {
  // height: 100%;
  // width: 100%;
  margin-top:170px;
  margin-bottom:100px;
}

.top_title{
  width: 100rem;
  font-size:10rem;
  font-weight:bold;
  position: relative;
  padding: 0.5em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  margin: 0 auto;
}
.top_title:before, .top_title:after{
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
}
.top_title:before {left: 7px;}
.top_title:after {right: 7px;}
